.checkbox .checkbox-switch {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 51px;	
	height: 31px;
	border-radius: 31px;	
	vertical-align: top;
	background: #eee;
	transition: .2s;
}
.checkbox .checkbox-switch:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;	
	display: inline-block;
	width: 27px;	
	height: 27px;
	border-radius: 27px;
	background: white;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}
.checkbox input {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox .card1, .card2, .card3, .card4, .card5, .card6, .card7 {
	transform: scale(0);
}
.checkbox .card2 {
	transform: scale(0);
}
.checkbox input:not(:disabled):active + .checkbox-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
.checkbox input:checked + .checkbox-switch {
	background: limegreen;
}
.checkbox input:checked + .checkbox-switch:before {
	transform:translateX(20px);
}
.checkbox input:checked ~ .card1 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card2 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card3 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card4 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card5 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card6 {
	transform: scale(1);
	transition: 1s;
}
.checkbox input:checked ~ .card7 {
	transform: scale(1);
	transition: 1s;
}
/* Hover */
.checkbox input:not(:disabled) + .checkbox-switch {
	cursor: pointer;
	border-color: rgba(0, 0, 0, .3);
}
